__pycache__/
# == MUTT ==
# Exclude all
.mutt/*
# Only show configs
!.mutt/mutt*


# == PRIVATE EXAMPLES ==
# Exclude all
private/*
# Allow EXAMPLES
!private/EXAMPLES

# Linux trash folder which might appear on any partition or disk
.Trash-*

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.uuid
.extra
.gitconfig
.gnupg
!.gnupg/gpg*.conf
