

# I want to search backwards from the command types.
# You can get an explanation here. Among a variety of other places.
# http://codeinthehole.com/writing/the-most-important-command-line-tip-incremental-history-searching-with-inputrc/
# These lines need to be placed in your ~/.inputrc file, the start-up script for the Readline utility used by Bash (as well as several other applications) and others). The important commands here are the first two, which bind your up and down cursor keys to incrementally search your history. (The second two ensure that left and right continue to work correctly).

"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char


# Show extra file information when completing, like `ls -F` does
set visible-stats on

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on

# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# Treat hyphens and underscores as equivalent
set completion-map-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on
